<!-- title, scripts, css etc go here -->
<script src='https://www.google.com/jsapi'></script>

<!-- Hackery! This is not truly responsive.  Only simulates responsiveness
     by causing the page to refresh, which utilizes the chart's width: 100%
     to adjust to the page. -->
<script>
//  $(document).ready(function() {
//    $(window).resize(function(){
//      $('body').load(window.location.pathname);
//    });
//  });
</script>
<noscript>
  <meta http-equiv="refresh" content="2;url=http://yoursite.com/nojswarning.html">
</noscript>
<% if @found %>
  <div class="yelp-intro-fitted">
    <div class="container">
      <h1><b><%= @business_name.upcase %></b></h1>
      <div class="yelp-intro-text"><%= show_address @business_address %></div>
      <div class="yelp-intro-text"><%= draw_rating_stars(@business_rating).html_safe %></div>
      <div class="yelp-intro-text"><%= draw_review_count(@business_reviews).html_safe%></div>
    </div>
  </div>
  <div class="container">
    <%= show_personality_description @business_dominant %>
  </div>
  <div id='chart' style="width: 100%; min-width: 310px"></div>
  <% if @pie_chart_google_visualr %>
    <%= render_chart @chart, 'chart' %>
  <% else %>
    <%= high_chart('chart', @chart) do |c| %>
      <%= raw "options.tooltip.formatter = function() "\
              "{return '<b>' + this.point.name +'</b>: '+ "\
              "this.y;}"  %>
      <%= raw "options.plotOptions.pie.dataLabels.formatter = function() "\
              "{return '<b>' + this.point.name +'</b>: '+ "\
              "((this.y/#{@all_personalities})*100).toFixed(1) +' %';}"  %>
    <% end %>
  <% end %>
<% else %>
  <div class="container">
    <%= display_invalid_bus_id %>
  </div>
<% end %>